<!DOCTYPE html>
<html data-ng-app="customersApp">
<head>
    <title>Customer Manager</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <link href="Content/animations.css" rel="stylesheet" />
    <link href="Content/styles.css" rel="stylesheet" />
</head>
<body data-ng-cloak="">

    <header class="navbar navbar-inner navbar-fixed-top" data-ng-controller="NavbarController">
        <nav class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-ng-click="isCollapsed = !isCollapsed">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">
                    <img src="Content/Images/people.png" alt="logo">
                    <span class="appTitle">{{ appTitle }}</span>
                </a>
            </div>
            <div class="nav-container" data-collapse="isCollapsed">
                <ul class="nav navbar-nav nav-pills navBarPadding">
                    <li data-ng-class="{'active':highlight('/customers')}"><a href="#/customers">Customers</a></li>
                    <li data-ng-class="{'active':highlight('/orders')}"><a href="#/orders">Orders</a></li>
                    <li data-ng-class="{'active':highlight('/about')}"><a href="#/about">About</a></li>
                    <li data-ng-class="{'active':highlight('/login')}" id="nav-login"
                        data-ng-click="loginOrOut()">
                        <a href="javascript:void(0);">{{ loginLogoutText }}</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="slide-animation-container">
        <div data-ng-view="" id="ng-view" class="slide-animation"></div>
    </div>

    <div id="footer">
        <div class="navbar navbar-fixed-bottom">
            <div class="navbar-inner footer">
                <div class="container">
                    <footer>
                        <div class="row">
                            <div class="col-md-12">
                                Created by <a href="http://twitter.com/DanWahlin" target="_blank">Dan Wahlin</a>
                            </div>
                        </div>
                    </footer>
                </div>
            </div>
        </div>
    </div>

    <div data-wc-overlay="" data-wc-overlay-delay="300">
        <br /><img src="/Content/images/spinner.gif" />&nbsp;&nbsp;Loading
    </div>

    <!-- 3rd party libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-route.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular-animate.min.js"></script>
    <script src="/Scripts/angular-ui-bootstrap.js"></script>
    <script src="/Scripts/tweenMax.min.js"></script>

    <!-- jQuery only needed with Breeze so not loaded before AngularJS in this example-->
    <!-- If you want jQuery to replace jqlite in AngularJS then load jQuery before angular.js (not needed in this app though) -->
    <script src="/Scripts/jquery-2.1.0.min.js"></script>
    <script src="/Scripts/breeze.min.js"></script>
    <script src="/Scripts/breeze.angular.q.js"></script>

    <!-- Custom scripts -->
    <script src="/app/app.js"></script>
    <script src="/app/animations/listAnimations.js"></script>
    <script src="/app/directives/wcOverlay.js"></script>
    <script src="/app/directives/wcUnique.js"></script>
    <script src="/app/filters/nameCityStateFilter.js"></script>
    <script src="/app/filters/nameProductFilter.js"></script>
    <script src="/app/services/config.js"></script>
    <script src="/app/services/authService.js"></script>
    <script src="/app/services/httpInterceptors.js"></script>
    <script src="/app/services/customersBreezeService.js"></script>
    <script src="/app/services/customersService.js"></script>
    <script src="/app/services/dataService.js"></script>
    <script src="/app/services/modalService.js"></script>
    <script src="/app/controllers/customers/customerEditController.js"></script>
    <script src="/app/controllers/customers/customerOrdersController.js"></script>
    <script src="/app/controllers/customers/customersController.js"></script>
    <script src="/app/controllers/orders/orderChildController.js"></script>
    <script src="/app/controllers/orders/ordersController.js"></script>
    <script src="/app/controllers/aboutController.js"></script>
    <script src="/app/controllers/navbarController.js"></script>
    <script src="/app/controllers/loginController.js"></script>
</body>
</html>


